@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../assets/fonts/TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../assets/fonts/TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../assets/fonts/TTLakes/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
