$color-border: #D9FFF5;
$color-bg-page: #F8F8F8;
$color-main: #FFFFFF;
$color-accent-mint: #41F6D7;
$color-accent-mint-light: #B8FFEC;
$color-accent-pink: #FF3E79;
$color-button-hover: #ab2d57;
$color-text-menu: #7E7E82;
$color-text-content: #1B1C21;
$color-shadow: #0E185033;
$color-divider: #EAEAEA;
$swiper-pagination-color: #B5B6BC;

$shadow: 16px 0 52px $color-shadow;

$bp-tablet: 768px;
$bp-desktop: 1440px;
